<footer>
    Linux Society
    <div class="footer-links">
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.index') }}#about">About Us</a>
        <a href="{{ url_for('main.register') }}">Register</a>
        <a href="{{ url_for('main.welcome') }}">Welcome</a>
        <a href="{{ url_for('main.privacy') }}">Privacy Statement</a>
    </div>
    <div class='footer-links'>
        <a href="https://github.com/Suchithsridhar/LinuxSociety/">
            Source code @ Github
        </a>
    </div>
</footer>
