<footer>
    The Linux Society
    <div class="footer-links">
        <a href="{{ url_for('main.index') }}#about">Home</a>
        <a href="{{ url_for('main.register') }}">Register</a>
        <a href="{{ url_for('main.welcome') }}">Welcome</a>
    </div>
</footer>
