<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Linux Society</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
