{% extends 'layout.jinja' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/pages/welcome.css') }}">
{% endblock head %}

{% block body %}
    <div class="welcome-container">
        <h1>Welcome to the Linux Society!</h1>

        <p>Thank you for joining us! We're excited to have you on board. Dive
        into the world of open-source with us, and let's explore the vast
        landscape of Linux together.</p>

        <div class="join-discord">
            <div class="text-section">
                <h3>Join the Discord Server</h3>
                <p>Use the QR code (click/scan) to join our discord server.
                Here we talk about current events, upcoming events, ask
                questions about Linux, and show-off our personal setup!</p>
            </div>
            <div class="image-section">
                <a href="https://discord.gg/7EGz3FYR">
                    <img src="{{ url_for('static', filename='/images/discord-link.png') }}" alt="Discord Server Link">
                </a>
                <a class='visible-link' href="https://discord.gg/7EGz3FYR">https://discord.gg/7EGz3FYR</a>
            </div>
        </div>
    </div>
{% endblock body %}
